node_modules/
public/bundle.js
public/bundle.js.map
public/styles.css
public/styles.css.map
notes.txt
package-lock.json
yarn-error.log
.vscode/
expensify-app/
react-course-expensify-app/
github-git-cheat-sheet.pdf